// src/styles/fonts.scss

/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ponnala&family=Poppins:wght@400;600&display=swap');

/* Apply the fonts to the body or specific elements */
body {
  font-family: 'Poppins', sans-serif; /* Default font */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ponnala', sans-serif; /* You can use Ponnala for headings */
}

p {
  font-family: 'Poppins', sans-serif; /* Use Poppins for body text */
}


.ponnala {
  font-family: 'Ponnala', sans-serif; /* You can use Ponnala for headings */
}